openapi: 3.0.0

info:
  title: openBD API
  description: "[openBDプロジェクト（カーリル・版元ドットコム）](https://openbd.jp)によって提供される書誌情報・書影を、だれでも自由に使える、高速なAPI."
  version: 1.0.0

servers:
  - url: "https://api.openbd.jp/v1"
    description: server url
# host: "https://api.openbd.jp/"
# basePath: "v1"
tags:
  - name: "openBd"
    description: "ドキュメントルート"
paths:
  /get:
    parameters:
      - in: query
        name: isbn
        required: true
        schema:
          type: array
          items:
            type: string
            format: isbn
        description: ISBNを指定。複数指定の場合はカンマ[,]で区切る。ISBNをXXX-X-XXXX-XXXX-Xの形式で指定する。1,000件まで複数指定。
      - in: query
        name: pretty
        schema:
          type: boolean
        allowEmptyValue: true
        description: 指定された場合、JSONを整形表示する。
    get:
      summary: Returns book info summry
      description: 書誌の概要を取得する。
      responses:
        '200':
          description: A JSON object of book summary
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BookInfo'
    post:
      summary: Returns book info summry
      description: 書誌の概要を取得する。
      parameters:
        - in: query
          name: isbn
          required: true
          schema:
            type: array
            items:
              type: string
              format: isbn
          description: ISBNを指定。複数指定の場合はカンマ[,]で区切る。ISBNをXXX-X-XXXX-XXXX-Xの形式で指定する。1,0000件まで複数指定。
      responses:
        '200':
          description: A JSON object of book summary
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BookInfo'
components:
  schemas:
    BookInfo:
      type: object
      additionalProperties: false
      properties:
        onix:
          type: object
          additionalProperties: false
          properties:
            ProductIdentifier:
              description: 識別情報(ISBN)
              type: object
              additionalProperties: false
              # additionalProperties: false
              properties:
                ProductIDType:
                  description: 'IDの種類[ISBN固定]'
                  type: string
                  pattern: ^15$
                IDValue:
                  description: ISBN（13桁）
                  type: string
                  pattern: '([0-9]+)'
            RecordReference:
              description: ISBN（13桁）
              type: string
            PublishingDetail:
              description: 出版社に関する情報
              type: object
              additionalProperties: false
              # additionalProperties: false
              properties:
                PublishingDate:
                  description: 商品の出版に関する日付情報
                  type: array
                  items:
                    type: object
                    additionalProperties: false
                    # additionalProperties: false
                    properties:
                      PublishingDateRole:
                        description: 発売日の種類
                        type: string
                        pattern: '^([0-9]{2})$'
                      Date:
                        description: 発売日
                        type: string
                Imprint:
                  description: 「発行元出版社」に関する情報
                  type: object
                  additionalProperties: false
                  # additionalProperties: false
                  properties:
                    ImprintName:
                      description: 「発行元出版社」名
                      type: string
                    ImprintIdentifier:
                      description: 「発行元出版社」コード
                      type: array
                      items:
                        type: object
                        additionalProperties: false
                        # additionalProperties: false
                        properties:
                          IDValue:
                            description: ID
                            type: string
                          ImprintIDType:
                            description: IDタイプ
                            type: string
                Publisher:
                  description: 「発行元出版社」と異なる場合、「発売元出版社」についての情報
                  type: object
                  additionalProperties: false
                  # additionalProperties: false
                  properties:
                    PublishingRole:
                      description: Publisher 【出版社】 に固定
                      type: string
                    PublisherName:
                      description: 「発売元出版社」名
                      type: string
                    PublisherIdentifier:
                      description: 「発売元出版社」コード
                      type: array
                      items:
                        type: object
                        additionalProperties: false
                        # additionalProperties: false
                        properties:
                          IDValue:
                            description: ID
                            type: string
                          PublisherIDType:
                            description: IDタイプ
                            type: string
            NotificationType:
              description: 削除フラグ
              type: string
              pattern: ^03$|^02$
            ProductSupply:
              description: 市場における商品の出版状況、供給等
              type: object
              additionalProperties: false
              # additionalProperties: false
              properties:
                SupplyDetail:
                  description: 商品のアベイラビリテイ（入手可能性）や価格、その他の供給状況
                  type: object
                  additionalProperties: false
                  # additionalProperties: false
                  properties:
                    ReturnsConditions:
                      description: 返品条件について
                      type: object
                      additionalProperties: false
                      # additionalProperties: false
                      properties:
                        ReturnsCodeType:
                          description: 「ONIX返品条件コード」 に固定
                          type: string
                        ReturnsCode:
                          description: 条件コード
                          type: string
                    ProductAvailability:
                      description: 「近刊情報センター」では、99に固定
                      type: string
                      pattern: ^99$
                    Price:
                      description: 価格（単価）について
                      type: array
                      items:
                        type: object
                        additionalProperties: false
                        # additionalProperties: false
                        properties:
                          PriceType:
                            description: 価格タイプ
                            type: string
                          PriceAmount:
                            description: 価格
                            type: string
                          CurrencyCode:
                            description: 通貨
                            type: string
                          PriceDate:
                            description: 特価期限
                            type: array
                            items:
                              type: object
                              additionalProperties: false
                              # additionalProperties: false
                              properties:
                                PriceDateRole:
                                  description: 価格の種類
                                  type: string
                                Date:
                                  description: 日付
                                  type: string
                                Price:
                                  description: 価格
                                  type: string
            DescriptiveDetail:
              description: 商品に関する情報
              type: object
              additionalProperties: false
              # additionalProperties: false
              properties:
                Language:
                  description: 表記に利用する言語
                  type: array
                  items:
                    type: object
                    additionalProperties: false
                    # additionalProperties: false
                    properties:
                      LanguageCode:
                        description: 価格の種類
                        type: string
                      LanguageRole:
                        description: 言語コード
                        type: string
                        pattern: ^01$
                      CountryCode:
                        description: 国コード
                        type: string
                TitleDetail:
                  description: 商品の「書名」を設定
                  type: object
                  additionalProperties: false
                  # additionalProperties: false
                  properties:
                    TitleType:
                      description: 'タイトルの種類[01に固定]'
                      type: string
                      pattern: ^01$
                    TitleElement:
                      description: タイトルの要素
                      type: object
                      additionalProperties: false
                      # additionalProperties: false
                      properties:
                        TitleElementLevel:
                          description: 'タイトルのレベル[01に固定]'
                          type: string
                          pattern: ^01$
                        TitleText:
                          description: 書名
                          type: object
                          additionalProperties: false
                          # additionalProperties: false
                          properties:
                            collationkey:
                              description: 読み仮名
                              type: string
                            content:
                              description: 書名
                              type: string
                        Subtitle:
                          description: サブタイトル
                          type: object
                          additionalProperties: false
                          # additionalProperties: false
                          properties:
                            collationkey:
                              description: 読み仮名
                              type: string
                            content:
                              description: 書名
                              type: string
                ProductForm:
                  description: 判型
                  type: string
                ProductFormDetail:
                  description: 判型の詳細コード
                  type: string
                Collection:
                  description: シリーズに関する情報
                  type: object
                  additionalProperties: false
                  # additionalProperties: false
                  properties:
                    CollectionType:
                      description: '種類コード[10に固定]'
                      type: string
                      pattern: ^10$
                    CollectionSequence:
                      description: 「配本回数」について
                      type: object
                      additionalProperties: false
                      # additionalProperties: false
                      properties:
                        CollectionSequenceType:
                          description: '配本回数コード[03に固定]'
                          type: string
                          pattern: ^03$
                        CollectionSequenceNumber:
                          description: 配本回数
                          type: string
                    TitleDetail:
                      description: シリーズタイトル
                      type: object
                      additionalProperties: false
                      # additionalProperties: false
                      properties:
                        TitleType:
                          description: 'タイトルの種類[01に固定]'
                          type: string
                          pattern: ^01$
                        TitleElement:
                          description: シリーズ・レーベルの名前
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            # additionalProperties: false
                            properties:
                              TitleElementLevel:
                                description: シリーズの種類
                                type: string
                                pattern: ^02$|^03$
                              TitleText:
                                description: シリーズ名
                                type: object
                                additionalProperties: false
                                # additionalProperties: false
                                properties:
                                  collationkey:
                                    description: 読み仮名
                                    type: string
                                  content:
                                    description: タイトル
                                    type: string
                              PartNumber:
                                description: シリーズの巻次
                                type: string
                Extent:
                  description: 商品に関連する（数値的）範囲、程度など
                  type: array
                  items:
                    type: object
                    additionalProperties: false
                    # additionalProperties: false
                    properties:
                      ExtentType:
                        description: '数値の種類[11はページ数]'
                        type: string
                        pattern: '^11$'
                      ExtentUnit:
                        description: '単位[03ページに固定]'
                        type: string
                        pattern: '^03$'
                      ExtentValue:
                        description: 値
                        type: string
                Measure:
                  description: タテ・ヨコの実寸
                  type: array
                  items:
                    type: object
                    additionalProperties: false
                    # additionalProperties: false
                    properties:
                      MeasureType:
                        description: '数値の種類[01縦/02横]'
                        type: string
                        pattern: '^01$|^02$'
                      MeasureUnitCode:
                        description: '単位[mmに固定]'
                        type: string
                        pattern: '^mm$'
                      Measurement:
                        description: 値
                        type: string
                Contributor:
                  description: 商品の著者情報
                  type: array
                  items:
                    type: object
                    additionalProperties: false
                    # additionalProperties: false
                    properties:
                      ContributorRole:
                        description: 著者区分
                        type: array
                        items:
                          type: string
                      SequenceNumber:
                        description: 表示順序
                        type: string
                      PersonName:
                        description: 著者名
                        type: object
                        additionalProperties: false
                        # additionalProperties: false
                        properties:
                          collationkey:
                            description: 読み仮名
                            type: string
                          content:
                            description: タイトル
                            type: string
                      BiographicalNote:
                        description: 著者略歴
                        type: string
                ProductComposition:
                  description: セット商品分売可否
                  type: string
                Audience:
                  description: 商品の対象読者を示す方法
                  type: array
                  items:
                    type: object
                    additionalProperties: false
                    # additionalProperties: false
                    properties:
                      AudienceCodeType:
                        description: 読者コード種類
                        type: string
                      AudienceCodeValue:
                        description: 読者コード
                        type: string
                Subject:
                  description: 商品の主題、テーマ、カテゴリなど
                  type: array
                  items:
                    type: object
                    additionalProperties: false
                    # additionalProperties: false
                    properties:
                      SubjectSchemeIdentifier:
                        description: カテゴリ
                        type: string
                      SubjectCode:
                        description: 78 or 79の場合に、「Cコード」または「ジャンルコード」
                        type: string
                      MainSubject:
                        description: メーンとなるSubjectのカテゴリ
                        type: string
                      SubjectHeadingText:
                        description: キーワード
                        type: string
                ProductPart:
                  description: 付録の有無
                  type: array
                  items:
                    type: object
                    additionalProperties: false
                    # additionalProperties: false
                    properties:
                      NumberOfItemsOfThisForm:
                        description: '付録の数量[1に固定]'
                        type: string
                      ProductForm:
                        description: '付録コード[00に固定]'
                        type: string
                      ProductFormDescription:
                        description: 付録の内容
                        type: string
            CollateralDetail:
              description: 商品の付帯項目
              type: object
              additionalProperties: false
              # additionalProperties: false
              properties:
                SupportingResource:
                  description: ONIXデータを補助する販促情報や追加情報などのデジタルデータ
                  type: array
                  items:
                    type: object
                    additionalProperties: false
                    # additionalProperties: false
                    properties:
                      ResourceContentType:
                        description: '種類[01書影07商品イメージ]'
                        type: string
                        pattern: ^01$|^07$
                      ResourceMode:
                        description: '[03静止画に固定]'
                        type: string
                      ContentAudience:
                        description: '[01に固定]'
                        type: string
                      ResourceVersion:
                        description: 補助リソースのバージョン
                        type: array
                        items:
                          type: object
                          additionalProperties: false
                          # additionalProperties: false
                          properties:
                            ResourceLink:
                              description: フルURI
                              type: string
                              pattern: '^https:\/\/cover.openbd.jp\/'
                            ResourceForm:
                              description: '[02に固定]'
                              type: string
                            ResourceVersionFeature:
                              description: ファイル名とファイル形式
                              type: array
                              items:
                                type: object
                                additionalProperties: false
                                properties:
                                  ResourceVersionFeatureType:
                                    description: ファイル名
                                    type: string
                                  FeatureValue:
                                    description: ファイル形式
                                    type: string
                TextContent:
                  description: 内容紹介
                  type: array
                  items:
                    type: object
                    additionalProperties: false
                    # additionalProperties: false
                    properties:
                      Text:
                        description: テキスト
                        type: string
                      TextType:
                        description: 種類コード
                        type: string
                        pattern: ^02$|^03$|^04$|^23$
                      ContentAudience:
                        description: 意図されている読者
                        type: string
        hanmoto:
          type: object
          additionalProperties: false
          description: 版元独自書誌
          properties:
            datekoukai:
              description: 公開日
              type: string
              format: date-time
            datemodified:
              description: 最終更新日
              type: string
              format: date-time
            datecreated:
              description: 最終作成日
              type: string
              format: date-time
            dateshuppan:
              description: 出版日
              type: string
            dokushakakikomipagesuu:
              description: 読者書き込みページ数
              type: integer
            kubunhanbai:
              description: 販売区分
              type: boolean
            toji:
              description: 本の綴じ方
              type: string
            zaiko:
              description: 在庫ステータス
              type: integer
            han:
              description: 版
              type: string
            genrecodetrc:
              description: TRC用ジャンルコード
              type: integer
            genrecodetrcjidou:
              description: TRC用児童ジャンルコード
              type: integer
            bikoutrc:
              description: TRC用備考
              type: string
            ndccode:
              description: NDC(日本十進分類法)
              type: string
            kaisetsu105w:
              description: 105文字程度の解説
              type: string
            hanmotokarahitokoto:
              description: 版元からひとこと
              type: string
            kankoukeitai:
              description: 刊行形態
              type: string
            lanove:
              description: ラノベフラグ
              type: boolean
            maegakinado:
              description: まえがきなど
              type: string
            hastameshiyomi:
              description: 試し読みフラグ
              type: boolean
            datezeppan:
              description: 絶版日
              type: string
            jushoujouhou:
              description: 受賞情報
              type: string
            datejuuhanyotei:
              description: 重版予定日
              type: string
            genshomei:
              description: 原書名
              type: string
            kanrensho:
              description: 関連書
              type: string
            tsuiki:
              description: 追記
              type: string
            obinaiyou:
              description: 帯の内容
              type: string
            rubynoumu:
              description: ルビの有無
              type: boolean
            furokusonota:
              description: 付録その他
              type: string
            furoku:
              description: 付録コード
              type: integer
            zasshicode:
              description: 雑誌コード
              type: string
            ruishokyougousho:
              description: 類書・競合書
              type: string
            sonotatokkijikou:
              description: その他の特記事項
              type: string
            gatsugougousuu:
              description: 月号・号数
              type: string
            dokushakakikomi:
              description: 読者書き込み
              type: string
            kanrenshoisbn:
              description: 関連書ISBN
              type: string
            bessoushiryou:
              description: 別称資料?
              type: string
            jyuhan:
              description: 重版情報
              type: array
              items:
                type: object
                additionalProperties: false
                # additionalProperties: false
                properties:
                  date:
                    description: 重版日
                    type: string
                    format: date-time
                  ctime:
                    description: 更新日時
                    type: string
                    format: date-time
                  suri:
                    description: 刷数
                    type: integer
                  comment:
                    description: コメント
                    type: string
                required:
                  - date
            author:
              description: 著者補足情報
              type: array
              items:
                type: object
                additionalProperties: false
                # additionalProperties: false
                properties:
                  dokujikubun:
                    description: 独自区分
                    type: string
                  listseq:
                    description: リストの番号
                    type: integer
                required:
                  - dokujikubun
                  - listseq
            reviews:
              description: 書評情報
              type: array
              items:
                type: object
                additionalProperties: false
                # additionalProperties: false
                properties:
                  han:
                    description: 版
                    type: string
                  appearance:
                    description: 書評掲載日
                    type: string
                  post_user:
                    description: 投稿ユーザー
                    type: string
                  kubun_id:
                    description: 区分ID
                    type: integer
                  source:
                    description: 情報源
                    type: string
                  choyukan:
                    description: 朝刊・夕刊
                    type: string
                  source_id:
                    description: 情報源ID
                    type: integer
                  reviewer:
                    description: 評者
                    type: string
                  gou:
                    description: 号
                    type: string
                  link:
                    description: リンク
                    type: string
                    format: url
            hanmotoinfo:
              description: 版元情報
              type: object
              additionalProperties: false
              # additionalProperties: false
              properties:
                name:
                  description: 名前
                  type: string
                yomi:
                  description: よみ
                  type: string
                url:
                  description: URL
                  type: string
                twitter:
                  description: Twitterアドレス
                  type: string
                facebook:
                  description: Facebookアドレス
                  type: string
            hatsubai:
              description: 発売元
              type: string
            hatsubaiyomi:
              description: 発売元よみ
              type: string
          required:
            - datemodified
          # additionalProperties: false
        summary:
          description: 書誌の概要
          type: object
          additionalProperties: false
          # additionalProperties: false
          properties:
            isbn:
              description: ISBN
              type: string
            title:
              description: 書名
              type: string
            volume:
              description: 巻号
              type: string
            series:
              description: シリーズ名
              type: string
            author:
              description: 著者名
              type: string
            publisher:
              description: 出版者
              type: string
            pubdate:
              description: 出版年月
              type: string
            cover:
              description: 書影URL
              type: string
          required:
            - isbn
            - title
            - volume
            - series
            - author
            - publisher
            - pubdate
            - cover
